$headerImg: url(../img/header_background_v1.jpg) no-repeat top/cover;
$pageFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica,sans-serif;
$colorHeader: #ECECEC;
$battonBG: #01ACAC;
$bodyBackground: #fff;
$articleBackground: #efefef;
$colorBorderNav: #607d8b;
$mainBorder: 1px solid $colorBorderNav;
$descriptionColor: #e90303;
$fontColor: #000;
$h3Color: #0097A7;
$h1FontSize: 25px;
$h3FontSize: 20px;


