$headerImg: url(../img/header_background_v2.jpg) no-repeat top/cover;
$pageFont: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$colorHeader: #ff5722;
$battonBG: #0401ac;
$bodyBackground: #efefef;
$articleBackground: #fff;
$colorBorderNav: #cfd8dc;
$mainBorder: 1px solid $colorBorderNav;
$descriptionColor: #c3c3d4;
$fontColor: #757575;
$h3Color: #607d8b;
$h1FontSize: 25px;
$h3FontSize: 20px;

