$headerImg: url(../img/header_background_v1.jpg) no-repeat top/cover;
$fontFamily: Roboto, Ubuntu, Cantarell, Helvetica,sans-serif;
$fontWeight: 300;
$fontSize:15px;
$fontLineHeight: 24px;
$fontColor: #000;
$colorHeader: #ECECEC;
$bodyBackground: #fff;
$buttonBackground: #01ACAC;
$articleBackground: #efefef;
$colorBorderNav: #607d8b;
$mainBorder: 1px solid $colorBorderNav;
$descriptionColor: #e90303;
$h3Color: #0097A7;


