body {
  background: #efefef;
  margin: 0;
  font-family: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
  line-height: 26px; }
  body header {
    height: 100vh;
    background: url(../img/header_background_v2.jpg) no-repeat top/cover; }
    body header .top-wrapper {
      display: flex;
      justify-content: space-between; }
      body header .top-wrapper .logo {
        width: 17%; }
        body header .top-wrapper .logo img {
          width: 100%; }
      body header .top-wrapper nav {
        margin-top: 20px; }
        body header .top-wrapper nav a {
          padding: 20px 100px;
          font-size: 15px;
          font-weight: 600;
          color: #ff5722;
          text-decoration: none;
          text-transform: uppercase;
          border-left: 2px solid #cfd8dc; }
          body header .top-wrapper nav a:first-child {
            border-left: none; }
    body header section {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      body header section h1 {
        font-size: 25px;
        font-weight: 600;
        color: #ff5722;
        text-transform: uppercase;
        margin-bottom: 29px;
        width: 700px; }
      body header section .btn {
        background: #0401ac;
        font-size: 18px;
        font-weight: 400;
        color: #FFFAEA;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer; }
      body header section .btn-top {
        padding: 15px 65px 14px 63px; }
  body main {
    width: 960px;
    margin: auto;
    padding-top: 20px; }
    body main .toolbar {
      display: flex; }
      body main .toolbar input {
        border: 1px solid #cfd8dc;
        width: 178px;
        padding: 11px 0 10px 20px;
        margin: 0 10px 0 auto;
        background: transparent; }
    body main section h1 {
      font-size: 25px;
      font-weight: 600;
      color: #757575;
      text-transform: uppercase;
      text-align: right;
      margin: 17px 0 0; }
    body main .post-list {
      margin-bottom: 65px; }
      body main .post-list article {
        background: #fff;
        margin-bottom: 20px;
        padding: 10px 20px 10px 10px;
        display: flex; }
        body main .post-list article img {
          margin-right: 10px;
          width: 282px;
          height: 282px; }
        body main .post-list article .post {
          margin: 5px 0 20px; }
          body main .post-list article .post .post-description {
            font-size: 13px;
            font-weight: 400;
            color: #c3c3d4;
            margin: 0 0 5px 5px; }
          body main .post-list article .post h3 {
            font-size: 20px;
            font-weight: 600;
            color: #607d8b;
            text-transform: uppercase;
            border-top: 1px solid #cfd8dc;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 7px; }
          body main .post-list article .post p {
            font-size: 18px;
            font-weight: 400;
            color: #757575;
            margin: 0; }
        body main .post-list article button {
          border: none;
          width: 200px;
          height: 38px;
          display: block;
          margin-left: auto; }
        body main .post-list article .btn {
          font-size: 18px;
          font-weight: 400;
          color: #FFFAEA;
          background: #0401ac;
          text-transform: uppercase;
          text-decoration: none;
          cursor: pointer; }
    body main .about {
      width: 930px;
      margin: auto;
      padding-bottom: 60px; }
      body main .about p {
        font-size: 18px;
        font-weight: 400;
        color: #757575;
        margin: 0 0 20px; }
      body main .about img {
        width: 100%; }
    body main .contact-form h1 {
      margin: 0; }
    body main .contact-form h4 {
      font-size: 18px;
      font-weight: 700;
      color: #757575;
      text-transform: uppercase;
      text-align: right;
      margin: 0 0 23px; }
    body main .contact-form form {
      padding-bottom: 9px; }
      body main .contact-form form label {
        display: block;
        font-size: 18px;
        font-weight: 400;
        color: #607d8b;
        text-align: right; }
      body main .contact-form form .input-fields {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px; }
        body main .contact-form form .input-fields input {
          height: 44px;
          border: 1px solid #cfd8dc; }
        body main .contact-form form .input-fields .full_name {
          width: 468px; }
        body main .contact-form form .input-fields .email {
          width: 478px; }
      body main .contact-form form textarea {
        width: 955px;
        height: 115px;
        border: 1px solid #cfd8dc;
        margin-bottom: 15px; }
      body main .contact-form form button {
        border: none;
        width: 200px;
        height: 38px;
        display: block;
        margin-left: auto; }
      body main .contact-form form .btn {
        font-size: 18px;
        font-weight: 400;
        color: #FFFAEA;
        text-transform: uppercase;
        background: #0401ac;
        text-decoration: none;
        cursor: pointer; }
  body footer {
    padding-bottom: 9px; }
    body footer span {
      font-size: 12px;
      font-weight: 400;
      color: #757575;
      margin-left: 16px; }
